.icon {
  width: 20px;
  height: 20px;
};
.icon.iconActive {
  width: 20px;
  height: 20px;
};

;
.menuItems li {
  list-style-type: none;
}
.menuClose {
  display: none;
};
.menu.menuOpen {
  position: absolute; 
  display: block;
};

.icoon {
  position: absolute;
  top: 50%;
  left: 1%;
  width: 30px;
  height: 6px;
  background: #ff3300;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
.icoon::before {
  top: -10px;
  left: 0;
  content: '';
  position: absolute;
  width: 37px;
  height: 6px;
  background: #ff3300;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  }
  
.icoon::after {
  top: 10px;
  left: 0;
  content: '';
  position: absolute;
  width: 37px;
  height: 6px;
  background: #ff3300;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  }