.swiper {
  padding: 32px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}
.swiper-pagination-bullet-active{
  background-color: #000;
}
.swiper-button-prev{
  background-color: #fff;
  padding: 10px;
}
.swiper-button-next{
  background-color: #fff;
  padding: 10px;
}