.swiper {
  width: 90%;
  border-radius: 25px;
  background-position: center;
  background-size: cover;
  transition: all 0.5s;
  background: #00fff0;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 250px;
  height: 300px;
  border-radius: 20px;
  transition: all 0.5s;
  background: #ff00ff;
}
.swiper-slide img {
  transition: all 0.5s;
  display: block;
  width: 100%;
}
